/*******
 ** Styles for ShoppingModule
*******/
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css");
* {
  margin: 0;
  padding: 0; }

html, body {
  box-sizing: border-box;
  height: 100%; }

body {
  height: 100%;
  color: #7C7D7F;
  background-color: #D3D3D3;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px; }

.card {
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 90vh;
  padding: 1.2em .2em;
  margin-left: 2em;
  background: #FFF;
  color: #7C7D7F;
  overflow: hidden; }
  .card .card-header {
    width: 100%;
    height: 60px; }
    .card .card-header h2 {
      margin-top: .5em;
      font-size: 24px;
      font-family: inherit;
      font-weight: 500;
      color: #000; }
  .card .card-body {
    display: block;
    position: relative;
    margin-top: 100px;
    width: 80%; }
  @media device, screen and (min-width: 800px) {
    .card {
      font-size: 16px;
      width: 80%;
      min-height: 90%;
      padding: 1.2em 2em;
      margin-left: 0; }
      .card .card-header {
        font-size: 1.5em; } }
  .card span.hr {
    position: relative;
    display: inline-block;
    margin: 0 auto 2.3em;
    width: 80%;
    height: 2px;
    background-color: #bcbdbe; }

a {
  text-decoration: none;
  color: #7C7D7F; }
  a:hover, a:active {
    color: #3AC8EF; }

.active {
  color: #3AC8EF;
  font-weight: bolder; }

.btn--group {
  margin: 1.5em .5em 1.5em 0; }
  .btn--group .btn {
    display: inline-block;
    width: auto;
    padding: .5em 1em;
    font-size: 1rem;
    line-height: 16px;
    margin-right: 1em;
    background-color: #E7E6E6; }

/*******
 ** Shopping List items + cart items styles
******/
table {
  width: 100%;
  margin: .5em 0;
  font-family: "Merriweather Sans", sans-serif;
  overflow: auto; }
  table tr {
    width: 100%; }
    table tr td {
      padding: .4em 0; }
  table td span {
    display: block;
    padding: .6em; }
  table td.checkbox {
    width: 32px;
    margin: 0;
    vertical-align: top; }

span.product-name {
  background-color: #D3D3D3;
  padding-left: 1em; }

span.product-price {
  background-color: #E7E6E6;
  padding-left: 1em; }

div#sum-up {
  position: absolute;
  right: 0;
  transform: translateX(50%);
  width: 50%; }
  div#sum-up span#sum {
    display: block;
    position: absolute;
    background-color: #cecccc;
    padding: .6em 2em;
    text-align: right; }
  div#sum-up span#price {
    display: block;
    background-color: #E7E6E6;
    padding: .6em 2em .6em 3em;
    text-align: right;
    width: 30%; }

.checkbox {
  width: 18px;
  height: 18px;
  position: relative;
  margin-left: -3px;
  padding: 4px; }
  .checkbox > * {
    position: absolute; }
  .checkbox-fake {
    border: 1px solid #E7E6E6;
    background: inherit;
    width: 13px;
    height: 13px;
    margin: 2px; }
  .checkbox > input {
    z-index: 1;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px; }
  .checkbox > input:checked + span.checkbox-fake {
    background: #FFF;
    border: 1px solid #7C7D7F;
    width: 13px;
    height: 13px; }
    .checkbox > input:checked + span.checkbox-fake:after {
      content: '\2705';
      position: absolute;
      margin-left: -3px;
      color: #3AC8EF;
      text-align: center; }
  .checkbox > input:hover + .checkbox-fake {
    border: 1px solid #7C7D7F; }
  .checkbox input:hover:checked + .checkbox-fake,
  .checkbox input:focus + .checkbox-fake {
    border: 1px solid #3AC8EF; }
