/*******
 ** Styles for ShoppingModule
*******/
//TODO: Split sections, move to partials regarding specified views
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');

$bg: #D3D3D3;
$accent: #3AC8EF;
$grey: #7C7D7F;
$light-grey: #E7E6E6;
$basic: 'Merriweather Sans', sans-serif;

* {
  margin:0;
  padding:0;
}

html, body {
  box-sizing:border-box;
  height: 100%;
}

body {
  height: 100%;
  color: $grey;
  background-color: $bg;
  font-family: $basic;
  font-size: 16px;
}

.card {
  display: inline;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 90vh;
  padding: 1.2em .2em;
  margin-left: 2em;

  background: #FFF;
  color: $grey;
  overflow: hidden;

  .card-header {
    width: 100%;
    height: 60px;
    h2 {
      margin-top: .5em;
      font-size: 24px;
      font-family: inherit;
      font-weight: 500;
      color: #000;
    }
  }

  .card-body {
    display: block;
    position: relative;
    margin-top: 100px;
    width: 80%;
  }

  @media device, screen and (min-width: 800px) {
    font-size: 16px;
    width: 80%;
    min-height: 90%;
    padding: 1.2em 2em;
    margin-left: 0;

    .card-header {
      font-size: 1.5em;
    }

  }

  span.hr {
    position: relative;
    display: inline-block;
    margin: 0 auto 2.3em;
    width: 80%;
    height: 2px;
    background-color: lighten($grey, 25%);
  }
}

a {
  text-decoration: none;
  color: $grey;

  &:hover, &:active {
    color: $accent;
  }
}

.active {
  color: $accent;
  font-weight: bolder;
}

.btn--group {
  margin: 1.5em .5em 1.5em 0;

  .btn {
    display: inline-block;
    width: auto;
    padding: .5em 1em;
    font-size: 1rem;
    line-height: 16px;
    margin-right: 1em;
    background-color: $light-grey;
  }
}

/*******
 ** Shopping List items + cart items styles
******/

table {
  width: 100%;
  margin: .5em 0;
  font-family: $basic;
  overflow: auto;

  tr {
    width: 100%;

    td {
      padding: .4em 0;
    }
  }

  td span {
    display: block;
    padding: .6em;
  }

  td.checkbox {
    width: 32px;
    margin: 0;
    vertical-align: top;
  }
}

span.product-name {
  background-color: $bg;
  padding-left: 1em;
}

span.product-price {
  background-color: $light-grey;
  padding-left: 1em;
}

div#sum-up {
  position: absolute;
  right: 0;
  transform: translateX(50%);
  width: 50%;

  span#sum {
    display: block;
    position: absolute;
    background-color: darken($light-grey,10%);
    padding: .6em 2em;
    text-align: right;
  }

  span#price {
    display: block;
    background-color: $light-grey;
    padding: .6em 2em .6em 3em;
    text-align: right;
    width: 30%;
  }
}


//Never Again
.checkbox {
  width: 18px;
  height: 18px;
  position: relative;
  margin-left: -3px;
  padding: 4px;

  > * {
    position: absolute;
  }

  &-fake {
    border: 1px solid $light-grey;
    background: inherit;
    width: 13px;
    height: 13px;
    margin: 2px;
  }

  > input {
    z-index: 1;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;

  }

  > input:checked + span.checkbox-fake {
    background: #FFF;
    border: 1px solid $grey;
    width: 13px;
    height: 13px;


    &:after {
      content: '\2705';
      position: absolute;
      margin-left: -3px;
      color: $accent;
      text-align: center;
    }
  }

  > input:hover + .checkbox-fake {
    border: 1px solid $grey;
  }
  input:hover:checked + .checkbox-fake,
  input:focus + .checkbox-fake {
    border: 1px solid $accent;
  }
}